@use "./variables" as *;

@media (min-width: 1700px) {
    
    .formBox {
        right: 20vw;
    }
}

@media (max-width: 1000px) {
  .mainContact {
    display: flex;
    padding-bottom: 50px;
  }

  .medias {
    display: flex;
    justify-content: center;
  }

  .infoBox {
    margin-top: 40vh;
    width: 85vw;
    margin-bottom: 3%;
    padding: 3rem 0 0 20%;
  }

  .infoContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formBox {
    width: 100%;
    right: 0;
    h2 {
      text-align: start;
      margin-left: 20%;
    }
  }

  .formContainer {
    background-color: $secondaryColor;
    box-shadow: -10px 10px #86e0f9;
    width: 60vw;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  .formContainer {
    height: 60vh;
  }
}

@media (max-width: 800px) {
  .formContainer {
    padding: 25px 25px;
  }

  .formBox {
    h2 {
      text-align: start;
      margin-left: 17%;
      padding-bottom: 2%;
    }
  }

  .infoBox {
    margin-top: 40vh;
    padding: 2rem 0 0 18%;
  }
}

@media (max-width: 550px) {
  .formContainer {
    background-color: $secondaryColor;
    box-shadow: -5px 9px #86e0f9;
    width: 80vw;
    height: 53vh;
    padding: 20px 20px;
  }

  .infoBox {
    margin-top: 30vh;
    padding: 0 0 0 11%;
  }

  .formBox {
    h2 {
      text-align: start;
      margin-left: 10%;
      padding-bottom: 2rem;
    }
  }

  .navBar ul {
    padding: 0;
  }
}
