@use "./variables" as *;

.copyright {
    margin: 0 auto;
    background-color:$terciaryColor;
    color:$primaryColor;
    text-align:center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color:$primaryColor;
    }
    a {
        color:$primaryColor;
    }
}