@use "./variables" as *;

@media (min-width: 1700px) {
    .wrapper {
        max-width: 1440px;
    }

    .goldenFish {
        bottom: 0;
        img {
            width: 47vw;
        }
    }

    .about1 {
        margin-bottom: 5%;
    }

    .aboutBox1,
    .aboutBox2 {
        max-height: 500px;
    }
}


@media (max-width: 1000px) {
    
    .goldenFish {
        bottom: 6vh;
    }
    
    .underSea {
        height: 60vh;
        justify-content: flex-start;
    }

    .seaWrapper {
        margin-top: 8vh;
        margin-bottom: 10vh;
      }

    .about1,
    .about2 {
        height: 40vh;
    }

    .aboutContainer1,
    .aboutContainer4 {
        height: 30vh;
    }

    .aboutContainer2, .aboutContainer3 {
        width: 55vw;
        height: 30vh;
        padding-bottom: 1rem;
        h4 {
            margin: 2rem 0 3rem 0;
        }
        p {
            margin-bottom: 1rem;
        }
    }

    .aboutBox1, .aboutBox2 {
        width: 50vw;
        height: 35vh;
    }
    
    .aboutBox1 {
        padding-left: 5%;
    }    
    
    .aboutBox2 {
        padding-right: 5%;
    }

    .aboutImg1 {
        img {
            box-shadow: 15px 12.5px #86E0F9;
            width: 45vw;
            top: 30px;
        }
    }
    
    .aboutImg2 {
        img {
            box-shadow: -15px 17px #86E0F9;
            width: 45vw;
            bottom: 61px; 
        }
    }

    .icon1, .icon2, .icon3, .icon4 {
        width:100%;
    }

    .profileContainer {
        flex-direction: column;
        .shoal {
            height: 40%;
        }
        .shoalImg {
            img {
                box-shadow: -10px 10px #86E0F9;
            }
        }
        .profileContent {
            justify-content: space-around;
            gap: 0; 
            h4 {
                text-align: center;
            }
        }
        button {
            margin: 0 auto;
        }
    }
    
    .gallery {
        background-color: $secondaryColor;
        height:70vh;
        ul {
            flex-direction: column;
        }
        li {
            width: 100%;
            height: 100%;
        }
    }
    
    .carousel {
        position:relative;
        // height:900px;
        width:80%;
        margin: 0 auto;
        top: 5rem;
    }
    
    .carouselImg {
        width:100%;
        object-fit: cover;
    }
    
    
    .carouselTrackContainer {
        background-color: $secondaryColor;
        position: relative;
        height: 70%;
    }
    
    .carouselTrack {
        background: rgb(168, 97, 97);;
        padding: 0;
        margin: 0;
    }
    
    .carouselSlide {
        position: absolute;
        top:0;
        bottom:0;
        width: 100%;
    }
    
    .carouselBtn {
        background-color: transparent;
        display: flex;
        color: $white;
        position: absolute;
        top: 40%;
        transform: translate(-50%);
        border:none;
        i {
            width: 1.5rem;
        }
    }
    
    .carouselBtnL {
        left: -1.5rem;
        .fa-chevron-left {
            font-size: 1.5rem;
        }
    }
    
    .carouselBtnR {
        right: -3.5rem;
        .fa-chevron-right {
            font-size: 1.5rem;
        }
    }
    
    .carouselNav {
        background-color: transparent;
        display: flex;
        justify-content: center;
        padding: 15px 0;
        margin: 0 0.8rem;
    }
    
    .carouselIndicator {
        border: 0;
        border-radius: 50%;
        width: 0.8rem;
        height: 0.8rem;
        background: $white;
        margin: 0.6rem;
        bottom:0;
    }
}


@media (max-width: 800px) {
    
    .bannerContent {
        flex-direction: column;
    }
    
    .buttonBlue {
        width:100%;
        max-width: 250px;
    }
    
    .buttonRead {
        width:100%;
        max-width: 200px;
    }
    
    .goldenFish {
        bottom: 50px;
        img {
            width: 55vw;
        }
    }
    
    .underSea {
        height: 73vh;
        h3 {
            text-align: center;
        }
    }
    
    .seaWrapper {
        margin-top:8vh;
        margin-bottom:10vh;
    }
    
    .about {
        display: flex;
        flex-direction: column;
    }
    
    .about1,
    .about2 {
        height: 55vh;
        display: flex;
        flex-direction: column;
    }
    
    .aboutBox1, .aboutBox2 {
        width: 90vw;
        height: 45vh;
    }
    
    .aboutBox1 {
        align-items: flex-end;
        padding-right: 5%;
        p {
            text-align: end;
        }
    }
    
    .aboutBox2 {
        align-items: flex-start;
        padding-left: 5%;
        p {
            text-align: start;
        }
    }    
    
    .aboutContainer2, .aboutContainer3 {
        width: 100vw;
        p {
            margin-bottom: -1rem;
        }
    }
    
    .aboutContainer4 {
        width: 100vw;
    }
    
    .aboutImg1 {
        position: relative;
        top: -20px;
        img {
            box-shadow: 15px 12px #86E0F9;
            width: 45vw;
            min-width: 310px;
        }
    }
    
    .aboutImg2 {
        position: absolute;
        bottom: -15px;
        img {
            width: 45vw;
            min-width: 310px;
        }
    }  
}

    // .profileContainer {
    //     flex-direction: column;
    //     .shoal {
    //         width: 50%;
    //     }
    //     .shoalImg {
    //         img {
    //             box-shadow: -10px 10px #86E0F9;
    //         }
    //     }
    //     .profileContent {
    //         h4 {
    //             text-align: center;
    //         }
    //     }
    //     button {
    //         margin: 0 auto;
    //     }
    // }


@media (max-width: 550px) {

    html {
        font-size: 100%;
    }

    .navBar {
        ul {
            padding: 10px 0 0 0;
            display: inline-block;
            text-align: end;
        }
    }
    
    h1 {
        font-size: 4.5rem;
        span {
            font-size: 4.5rem;
            line-height: 4.5rem;
        }
    }

    .headerHome {
        height: 60vh;
        position: relative;
    }

    .title {
        padding-top: 1vh;
        h1 {
            margin: 0 auto;
        }
    }

    .goldenFish {
        position: absolute;
        bottom: -10vh;
        img {
            width: 65vw;
            min-width: 250px;
        }
    }

    .about1,
    .about2 {
        height:auto;
    }

    .aboutContainer1,
    .aboutContainer2,
    .aboutContainer3, 
    .aboutContainer4  {
        width: 100vw;
        height: auto;
        margin: 0;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        img {
            width:100%;
            box-shadow: none;
            margin-top:0
        }
        h4 {
            margin: 0;
            text-align: center;
        }
    }

    .aboutBox1,
    .aboutBox2 {
        padding-top: 0;
        min-height: 35vh;
        height:100%;
        margin: 0;
        align-items: flex-start;
        h4 {
            text-align: start;
        }
        p {
            text-align: left;
        }
    }

    .aboutImg1,
    .aboutImg2 {
        position: relative;
        margin: 0;
    }
           
    .icons {
        padding-top: 10%;
    }

    .iconsStyles1, .iconsStyles2, .iconsStyles3, .iconsStyles4 {
        width:100%;
        max-width: 30px;
        height: 30px;
    }
    
    .fa-location-arrow, .fa-users, .fa-file, .fa-phone-flip {
        font-size: 0.9rem;
    }

    .shoal {
        width: 80%;
        img {
            box-shadow: 5px 5px #86E0F9;
        }
    }

    .gallery {
        ul {
            flex-direction: column;
            gap:2rem;
            margin-top: 2rem auto;
        }
        li {
            width: 80%;
        }
    }

    .copyright {
        padding: 0 50px;
    }
}
