@use "variables" as *;

nav {
  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    z-index: 10;
  }
  li {
    display: flex;
    margin: 15px 0 0 35px;
  }
}

.navBar a {
  color: $white;
  padding: 20px;
  &:hover {
    color: $terciaryColor;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
  }
  &:focus {
    color: $terciaryColor;
  }
}

.navToggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  display: none;
}

.navToggler span,
.navToggler span:before,
.navToggler span:after {
  width: 28px;
  height: 3px;
  background-color: $white;
  display: block;
  transition: 0.3s;
}

.navToggler span:before {
  content: "";
  transform: translateY(-9px);
}

.navToggler span:after {
  content: "";
  transform: translateY(6px);
}

@media (max-width: 1000px) {
  .navContainer {
    max-width: 1000px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
  }
  .navToggler {
    display: block;
  }

  .navBar ul {
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0;
    top: 70px;
    flex-direction: column;
    align-items: center;
    background-color: #0c1423fa;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .navBar ul li {
    width: 100%;
    text-align: center;
    justify-content: center;
    a {
      padding: 25px;
      width: 30%;
      &:hover {
        background-color: rgba(68, 68, 68, 0.222);
      }
    }
  }

  .navBar ul.open {
    max-height: 45vh;
    overflow: visible;
  }

  .navToggler.togglerOpen span {
    background-color: transparent;
  }

  .navToggler.togglerOpen span:before {
    transform: translateY(0px) rotate(45deg);
  }

  .navToggler.togglerOpen span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
}
