@use "variables" as *;

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        width:100%;
        display: flex;
        justify-content:flex-end;
        gap: 60px;
    }
    li {
        display:flex;
    }
}

.navBar a {
    color:$white;
    transition: 0.3s;
    &:hover {
        color: $terciaryColor;
        cursor: pointer;
        text-decoration: none;
    }
    &:focus {
        color: $terciaryColor;
    }
}

.hamburgerBtn {
    display: none;
    cursor: pointer;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0.3rem 3rem;
    background-color: $primaryColor;
    .menuBar {
        width: 30px;
        height: 2px;
        background-color: $white;
        margin: 5px;
        transform: transform 0.3s ease;
    }
}


@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    
    .navBar {
        justify-content: space-around;
        transform: translateX(100%);
        ul {
            justify-content: center;
        }
        li {
            margin: 0;
            opacity: 0;
            transition: all 0.3s ease-in;
        
        }
        a {
            display: block;
            padding: 10px;
        }
    }

    .menuList {
        position: absolute;
        width:100vw;
        top: 3.5vh;
        right: 0;
        height: 50vh;
        background-color: $primaryColor;
        flex-direction: column;
        align-items: center;
    }
    
    .navBar.active {
        transform: translateX(0) ;
        opacity: 0;
    }
    
    
}
    

