@use "./variables" as *;

@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: regular;
}

html {
    font-size: 125%;
}

body {
    font-family: "Lato";
}

h1, h2, h3, h4, h5, nav, button {
    font-family: "Barlow";
    font-weight: bold;
    color: $white;
}

nav {
    line-height:1.45rem;
    font-size: 1rem;
    letter-spacing:1px;
    text-transform: uppercase;
}

h1 {
    span {
        display: inline-block;
        display: flex;
        flex-direction: column;
        font-size: 6.9rem;
        line-height: 6.3rem;
        text-transform: uppercase;
    }
}

h2 {
    font-size: 4rem;
    line-height: 4.6rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h4 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h5 {
    font-size: 1.15rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
}

button {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

ul {
    text-decoration: none;
    padding: 0;
}

a {
    text-decoration: none;
}

@media (max-width: 550px) {
    h1 {
        span {
            display: inline-block;
            display: flex;
            flex-direction: column;
            font-size: 4rem;
            line-height: 4.3rem;
            text-transform: uppercase;
        }
    }
    
    h2 {
        font-size: 2.5rem;
        line-height: 3.4rem;
    }
    
    h3 {
        font-size: 2.1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    h4 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    
}