html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: regular;
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato";
}

h1, h2, h3, h4, h5, nav, button {
  font-family: "Barlow";
  font-weight: bold;
  color: white;
}

nav {
  line-height: 1.45rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 span {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 6.9rem;
  line-height: 6.3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  font-size: 1.15rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

button {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

ul {
  text-decoration: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  h2 {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  h1 span {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 4rem;
    line-height: 4.3rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3.4rem;
  }
  h3 {
    font-size: 2.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.buttonBlue {
  background-color: #86E0F9;
  color: #0C1423;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  max-width: 215px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.buttonBlue:hover {
  background-color: #4bd0f4;
}
.buttonBlue:focus {
  background-color: #4bd0f4;
}
.buttonBlue a {
  text-decoration: none;
  color: #0C1423;
}

.buttonRead {
  background-color: #0C1423;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  border: none;
  max-width: 215px;
  cursor: pointer;
}
.buttonRead a {
  color: white;
}
.buttonRead:hover {
  background-color: #000714;
}
.buttonRead:focus {
  background-color: #000714;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  z-index: 10;
}
nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 0 35px;
}

.navBar a {
  color: white;
  padding: 20px;
}
.navBar a:hover {
  color: #86E0F9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}
.navBar a:focus {
  color: #86E0F9;
}

.navToggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  display: none;
}

.navToggler span,
.navToggler span:before,
.navToggler span:after {
  width: 28px;
  height: 3px;
  background-color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navToggler span:before {
  content: "";
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.navToggler span:after {
  content: "";
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

@media (max-width: 1000px) {
  .navContainer {
    max-width: 1000px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 15px;
  }
  .navToggler {
    display: block;
  }
  .navBar ul {
    position: absolute;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(12, 20, 35, 0.9803921569);
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navBar ul li {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navBar ul li a {
    padding: 25px;
    width: 30%;
  }
  .navBar ul li a:hover {
    background-color: rgba(68, 68, 68, 0.222);
  }
  .navBar ul.open {
    max-height: 45vh;
    overflow: visible;
  }
  .navToggler.togglerOpen span {
    background-color: transparent;
  }
  .navToggler.togglerOpen span:before {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  .navToggler.togglerOpen span:after {
    -webkit-transform: translateY(-3px) rotate(-45deg);
            transform: translateY(-3px) rotate(-45deg);
  }
}
.headerHome {
  height: 85vh;
  margin: 0 auto;
  width: 100%;
  background-color: #0C1423;
  background-image: url("../under-the-sea-assets/1-header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.layer {
  width: 100%;
  min-height: 100%;
  background: rgb(12, 20, 35);
  background: linear-gradient(4deg, rgba(12, 20, 35, 0.2132820012) 25%, rgba(12, 20, 35, 0.7763589243) 72%);
  z-index: 2;
}

.bannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80%;
}

.goldenFish {
  position: absolute;
  bottom: -1vh;
  right: 0;
}
.goldenFish img {
  width: 60vw;
  max-width: 1000px;
}

.title {
  padding-top: 4%;
}

main {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}
main p {
  color: white;
}

.underSea {
  background-color: #0C1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seaWrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.seaWrapper p {
  padding-bottom: 1rem;
  max-width: 1200px;
}

.about {
  background-color: #0F614E;
  position: relative;
}
.about p {
  margin-top: -2rem;
}

.about1,
.about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 45vh;
}

.aboutContainer1 {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aboutContainer2,
.aboutContainer3 {
  width: 55vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}
.aboutContainer2 h4,
.aboutContainer3 h4 {
  margin: -3rem 0 -1rem 0;
}
.aboutContainer2 p,
.aboutContainer3 p {
  margin-bottom: -1.5rem;
}

.aboutContainer4 {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aboutBox1,
.aboutBox2 {
  width: 42vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aboutBox1 img,
.aboutBox2 img {
  width: 90%;
  height: 90%;
}

.aboutBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10%;
}

.aboutImg1 {
  position: absolute;
  top: -25px;
}
.aboutImg1 img {
  -webkit-box-shadow: 30px 25px #86e0f9;
          box-shadow: 30px 25px #86e0f9;
  width: 43vw;
}

.aboutBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 0.5rem;
  padding-right: 10%;
}
.aboutBox2 p {
  text-align: end;
}

.aboutImg2 {
  position: absolute;
  margin-right: 0;
  bottom: -30px;
}
.aboutImg2 img {
  -webkit-box-shadow: -30px 35px #86e0f9;
          box-shadow: -30px 35px #86e0f9;
  width: 43vw;
}

.icons {
  background-color: #0C1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 6%;
  padding-bottom: 3rem;
}
.icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 1rem;
}

.iconsStyles1,
.iconsStyles2,
.iconsStyles3,
.iconsStyles4 {
  width: 100%;
  max-width: 50px;
  height: 50px;
  background-color: #86E0F9;
  color: #0C1423;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.fa-location-arrow,
.fa-users,
.fa-file,
.fa-phone-flip {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.banner {
  width: 100%;
  background-color: #0C1423;
  margin: 0 auto;
}
.banner img {
  width: 100%;
  height: 100%;
}

.profile {
  background-color: #0C1423;
  min-height: 60vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  margin: 3rem auto;
}

.shoal {
  width: 30vw;
}

.shoalImg img {
  -webkit-box-shadow: 35px 35px #86e0f9;
          box-shadow: 35px 35px #86e0f9;
  width: 100%;
}

.profileContent {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profileContent h4 {
  margin: 0;
}
.profileContent p {
  padding-bottom: 1rem;
}

.gallery {
  background-color: #0F614E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.gallery li {
  width: calc(33.3333333333% - 20px);
}
.gallery li img {
  width: 100%;
  height: 100%;
}

.copyright {
  margin: 0 auto;
  background-color: #86E0F9;
  color: #0C1423;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright p {
  color: #0C1423;
}
.copyright a {
  color: #0C1423;
}

@media (min-width: 1700px) {
  .wrapper {
    max-width: 1440px;
  }
  .about1 {
    margin-bottom: 5%;
  }
}
@media (max-width: 1000px) {
  .goldenFish {
    bottom: 2vh;
  }
  .about1,
.about2 {
    height: 40vh;
  }
  .aboutContainer2,
.aboutContainer3 {
    width: 55vw;
    height: 50vh;
    padding-bottom: 2rem;
  }
  .aboutContainer2 h4,
.aboutContainer3 h4 {
    margin: -2rem 0 1rem 0;
  }
  .aboutContainer2 p,
.aboutContainer3 p {
    margin-bottom: -1rem;
  }
  .aboutBox1,
.aboutBox2 {
    width: 50vw;
    height: 40vh;
  }
  .aboutBox1 {
    padding-left: 5%;
  }
  .aboutBox2 {
    padding-right: 5%;
  }
  .aboutImg1 img {
    -webkit-box-shadow: 15px 12.5px #86e0f9;
            box-shadow: 15px 12.5px #86e0f9;
    width: 45vw;
  }
  .aboutImg2 img {
    -webkit-box-shadow: -15px 17px #86e0f9;
            box-shadow: -15px 17px #86e0f9;
    width: 45vw;
  }
  .icon1,
.icon2,
.icon3,
.icon4 {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .bannerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttonBlue {
    width: 100%;
    max-width: 250px;
  }
  .buttonRead {
    width: 100%;
    max-width: 200px;
  }
  .goldenFish {
    bottom: 50px;
  }
  .goldenFish img {
    width: 55vw;
  }
  .underSea h3 {
    text-align: center;
  }
  .seaWrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about1,
.about2 {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutBox1,
.aboutBox2 {
    width: 90vw;
    height: 45vh;
  }
  .aboutBox1 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 5%;
  }
  .aboutBox1 p {
    text-align: end;
  }
  .aboutBox2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5%;
  }
  .aboutBox2 p {
    text-align: start;
  }
  .aboutContainer2,
.aboutContainer3 {
    width: 100vw;
  }
  .aboutContainer2 p,
.aboutContainer3 p {
    margin-bottom: -1rem;
  }
  .aboutContainer4 {
    width: 100vw;
  }
  .aboutImg1 {
    position: relative;
    top: -20px;
  }
  .aboutImg1 img {
    -webkit-box-shadow: 15px 12px #86e0f9;
            box-shadow: 15px 12px #86e0f9;
    width: 45vw;
    min-width: 310px;
  }
  .aboutImg2 {
    position: absolute;
    bottom: -15px;
  }
  .aboutImg2 img {
    width: 45vw;
    min-width: 310px;
  }
  .profileContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profileContainer .shoal {
    width: 50%;
  }
  .profileContainer .shoalImg img {
    -webkit-box-shadow: 20px 20px #86e0f9;
            box-shadow: 20px 20px #86e0f9;
  }
  .profileContainer .profileContent h4 {
    text-align: center;
  }
  .profileContainer button {
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 100%;
  }
  .navBar ul {
    padding: 10px 0 0 0;
    display: inline-block;
    text-align: end;
  }
  h1 {
    font-size: 4.5rem;
  }
  h1 span {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .headerHome {
    height: 60vh;
    position: relative;
  }
  .title {
    padding-top: 1vh;
  }
  .title h1 {
    margin: 0 auto;
  }
  .goldenFish {
    position: absolute;
    bottom: -10vh;
  }
  .goldenFish img {
    width: 65vw;
    min-width: 250px;
  }
  .aboutContainer1,
.aboutContainer2,
.aboutContainer3 .aboutContainer4 {
    min-height: 150px;
  }
  .aboutBox1 {
    padding-top: 10%;
  }
  .aboutBox2 {
    padding-bottom: 10%;
  }
  .icons {
    padding-top: 10%;
  }
  .iconsStyles1,
.iconsStyles2,
.iconsStyles3,
.iconsStyles4 {
    width: 100%;
    max-width: 30px;
    height: 30px;
  }
  .fa-location-arrow,
.fa-users,
.fa-file,
.fa-phone-flip {
    font-size: 0.9rem;
  }
  .shoal {
    width: 70%;
  }
  .shoalImg img {
    -webkit-box-shadow: 5px 5px #86e0f9;
            box-shadow: 5px 5px #86e0f9;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    margin-top: 2rem auto;
  }
  .gallery li {
    width: 80%;
  }
  .copyright {
    padding: 0 50px;
  }
}
.backgroundContact {
  width: 100%;
  height: 55vh;
  margin: 0 auto;
  background-image: url("../under-the-sea-assets/contact-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #0C1423;
}

.formBox {
  position: absolute;
  top: 15vh;
  right: 10vw;
}

.formContainer {
  background-color: #0F614E;
  -webkit-box-shadow: -20px 25px #86e0f9;
          box-shadow: -20px 25px #86e0f9;
  width: 60vw;
  max-width: 900px;
  height: 55vh;
  margin: -50px auto 0 auto;
  padding: 50px 50px;
}

input[type=text],
input[type=email] {
  width: 48%;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #86E0F9;
  margin-bottom: 2rem;
  cursor: pointer;
  font-family: "Lato";
  padding: 0 0 0.8rem 0.8rem;
  font-size: 1rem;
}

input[type=text] {
  margin-right: 1rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: white;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

textarea {
  background: transparent;
  color: white;
  border: 2px solid #86E0F9;
  width: 100%;
  height: 25vh;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Lato";
}

[type=submit] {
  background: #0C1423;
  width: 100%;
  color: white;
  border: none;
  margin-top: 2rem;
  margin-bottom: 5vh;
  padding: 5px;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

button:hover,
button:focus {
  outline: none;
  background: #000714;
  cursor: pointer;
}

.mainContact {
  width: 100%;
  background-color: #0C1423;
  margin: 0 auto;
  padding-bottom: 150px;
}

.infoBox {
  width: 28%;
  padding: 4rem 0 0 7%;
}

.medias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.medias a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0 20px 0 0;
}
.medias a:hover,
.medias a:focus {
  outline: none;
  color: #86E0F9;
  cursor: pointer;
}

.infoContact {
  left: 5vh;
}
.infoContact p {
  margin: 0;
  font-size: 0.9rem;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 5rem;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
}

.modalDialog {
  max-width: 500px;
  margin: 0 auto;
}

.modal.fade .modalDialog {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.modalContent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  text-align: center;
  border: 1px solid #0a0a0a;
  border-radius: 3%;
}
.modalContent h4 {
  color: rgb(134, 101, 17);
}
.modalContent button {
  border: none;
  background-color: transparent;
}
.modalContent span {
  color: #5c5a5a;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  text-decoration: none;
  pointer-events: auto;
}

.modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid #b8b5b5;
}

.show {
  display: block;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

.modal.show .modalDialog {
  -webkit-transform: none;
  transform: none;
}

@media (min-width: 1700px) {
  .formBox {
    right: 20vw;
  }
}
@media (max-width: 1000px) {
  .mainContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
  }
  .medias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .infoBox {
    margin-top: 40vh;
    width: 85vw;
    margin-bottom: 3%;
    padding: 3rem 0 0 20%;
  }
  .infoContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .formBox {
    width: 100%;
    right: 0;
  }
  .formBox h2 {
    text-align: start;
    margin-left: 20%;
  }
  .formContainer {
    background-color: #0F614E;
    -webkit-box-shadow: -10px 10px #86e0f9;
            box-shadow: -10px 10px #86e0f9;
    width: 60vw;
  }
  input[type=text],
input[type=email] {
    width: 100%;
  }
  .formContainer {
    height: 60vh;
  }
}
@media (max-width: 800px) {
  .formContainer {
    padding: 25px 25px;
  }
  .formBox h2 {
    text-align: start;
    margin-left: 17%;
    padding-bottom: 2%;
  }
  .infoBox {
    margin-top: 40vh;
    padding: 2rem 0 0 18%;
  }
}
@media (max-width: 550px) {
  .formContainer {
    background-color: #0F614E;
    -webkit-box-shadow: -5px 9px #86e0f9;
            box-shadow: -5px 9px #86e0f9;
    width: 80vw;
    height: 53vh;
    padding: 20px 20px;
  }
  .infoBox {
    margin-top: 30vh;
    padding: 0 0 0 11%;
  }
  .formBox h2 {
    text-align: start;
    margin-left: 10%;
    padding-bottom: 2rem;
  }
  .navBar ul {
    padding: 0;
  }
}
.bodyBlog {
  background-color: #0C1423;
}

.backgroundBlog {
  width: 100%;
  height: 70vh;
  background-image: url("../under-the-sea-assets/8-blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.mainBlog {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -50vh;
  margin-right: 0;
  position: relative;
  z-index: 2;
}
.mainBlog h2 {
  padding-left: 4%;
}
.mainBlog h3 {
  margin-bottom: -15px;
}

.coralImg {
  margin-left: 30px;
  width: 100%;
  padding-bottom: 2rem;
}
.coralImg img {
  -webkit-box-shadow: -30px 35px #86E0F9;
          box-shadow: -30px 35px #86E0F9;
  width: 98%;
}

.recentPost,
.comments,
.blogForm {
  padding-left: 1.5rem;
  margin-right: 4rem;
}

.recentPost {
  border-left: 4px solid #86E0F9;
  border-bottom: 4px solid #86E0F9;
  margin-top: -10px;
}

.clientContainer1,
.clientContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-bottom: 5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clientContainer1 p,
.clientContainer2 p {
  text-align: start;
}

.clienteComment1 {
  margin-top: -25px;
}

.clienteComment2 {
  margin-top: -25px;
}

.blogForm {
  width: 95%;
  margin: 0 auto 2rem -10px;
  padding-top: 1rem;
}
.blogForm input[type=text],
.blogForm input[type=email] {
  width: 45.5%;
}
.blogForm textarea {
  width: 95%;
}

.postButton {
  background-color: #0F614E;
  width: 95%;
}

Button.postButton:hover,
Button.postButton:focus {
  background-color: #0c473a;
}

aside {
  width: 39vw;
  position: absolute;
  top: 60vh;
  left: -82%;
}
aside p {
  color: white;
}
aside img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 21px 6px 0px -6px #0F614E;
          box-shadow: 21px 6px 0px -6px #0F614E;
  margin-bottom: -2rem;
}
aside li {
  list-style: inside;
  color: white;
  padding-bottom: 10px;
}
aside li a {
  text-decoration: none;
  color: white;
}
aside .blogAbout,
aside .posts {
  width: 70%;
  margin-left: 30%;
  padding: 4%;
  background-color: #0F614E;
  -webkit-box-shadow: 15px 0px #0F614E;
          box-shadow: 15px 0px #0F614E;
}
aside .blogAbout {
  margin-top: 1rem;
}

@media (min-width: 1700px) {
  .wrapper {
    max-width: 1440px;
  }
  .blogImg {
    width: 100%;
    top: 2vh;
  }
  aside {
    width: 30vw;
  }
}
@media (max-width: 1000px) {
  .coralImg {
    margin-left: auto;
    width: 97.1%;
    padding-bottom: 0.8rem;
  }
  .coralImg img {
    -webkit-box-shadow: -15px 15px #86E0F9;
            box-shadow: -15px 15px #86E0F9;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .backgroundBlog {
    background-position: center center;
  }
  .mainBlog {
    padding-top: 35vh;
    width: 100%;
    bottom: 4rem;
  }
  .coralImg {
    margin-left: 1rem;
    width: 100%;
    padding-bottom: 1rem;
  }
  .coralImg img {
    -webkit-box-shadow: -20px 20px #86E0F9;
            box-shadow: -20px 20px #86E0F9;
    width: 100%;
  }
  .recentPost, .comments, .blogForm {
    padding-left: 4%;
    margin-right: 3%;
  }
  .blogForm {
    width: 100%;
    margin: 0 auto;
  }
  aside {
    width: 97vw;
    position: relative;
    top: 0;
    left: -3.5%;
  }
}
@media (max-width: 550px) {
  .backgroundBlog {
    height: 40vh;
  }
  .recentPost, .comments, .blogForm {
    margin-right: 1rem;
  }
  .clientContainer1,
.clientContainer2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blogForm {
    width: 100%;
  }
  .blogForm input[type=text],
.blogForm input[type=email] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    margin: 0 auto 2rem 0;
  }
}